@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>*@
<img src="~/Content/Img/error-404.png" style="margin:auto;display:block; width:60%;height:auto;"/>